.logo-container-pabin {
  position: absolute;
  // background-color: red;
  width: 100%;
  height: 100vh;
  z-index: 0;
  top: 0;
  padding: 30px;

  svg {
    // background-color: wheat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

#pSvg path {
  // stroke: #ff9671;
  stroke: red;
  stroke-width: 1px;
  stroke-dasharray: 373px;
  stroke-dashoffset: 373px;
  animation: pLineAnime 1.2s ease forwards, fillUp 3s 2.8s ease forwards;
}
@keyframes pLineAnime {
  // to {
  //   stroke-dashoffset: 0px;
  //   fill: transparent;
  // }
  0% {
    stroke-dashoffset: 373px;
  }
  // 25%  {stroke-dashoffset: 200px;}
  50% {
    stroke-dashoffset: 0px;
  }
  // 75%  {stroke-dashoffset: 200px;}
  100% {
    stroke-dashoffset: 373px;
  }
}
@keyframes fillUp {
  to {
    // fill: #ff9671;
  }
}
