.logo-container {
  // width: 400px;
  // height: 550px;
  // background-color: white;
  // position: absolute;
  // right: 15%;
  // top: 10%;

  // left: auto;
  // margin: auto;

  position: relative;
  // background-color: red;
  width: 100%;
  height: 0;
  z-index: 0;

  svg {
    // background-color: wheat;
    position: absolute;
    width: 60%;
    height: 400px;
    bottom: 120px;
    left: 25%;
    z-index: 0;

    // width: 95%;
    // height: auto;
    // bottom: 0;
    // transform: rotateZ(10deg) !important;
  }
}

#pSvg path {
  // stroke: #ff9671;
  stroke: white;
  stroke-width: 1px;
  stroke-dasharray: 373px;
  stroke-dashoffset: 373px;
  animation: pLineAnime 1.2s ease forwards, fillUp 1s 2.8s ease forwards;
}
@keyframes pLineAnime {
  // to {
  //   stroke-dashoffset: 0px;
  //   fill: transparent;
  // }
  0% {
    stroke-dashoffset: 373px;
  }
  // 25%  {stroke-dashoffset: 200px;}
  50% {
    stroke-dashoffset: 0px;
  }
  // 75%  {stroke-dashoffset: 200px;}
  100% {
    stroke-dashoffset: 373px;
  }
}
@keyframes fillUp {
  to {
    // fill: #ff9671;
  }
}
