.text-animate {
  display: inline-block;
  font-size: 1em;
  opacity: 1;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
  color: #ff9671;
  text-transform: capitalize;
}
.text-animate-hover {
  font-size: 0.5em;
  color: #ff9671;
  text-transform: capitalize;
  display: inline-block;
  min-width: 10px;
  animation-fill-mode: both;
  cursor: pointer;

  &:hover {
    animation: rubberBand 1s;
    color: white;
  }
}

@for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{$i/10}s;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .text-animate-hover {
    font-size: 1em;
 
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
