.item {
  background: #a46855;
  border-bottom: 1px solid Black;
}
.title {
  padding: 5px 10px;
  color: #dfcfbe;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.title h1 {
  text-transform: capitalize;
  font-family: "Helvetica Neue";
  padding-left: 10px;
  font-size: 1.5rem;
}
.accordianIndicator {
  font-weight: bold;
  font-size: 18px;
}

.content {
  background-color: #dfcfbe;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
  .projectDetails p:nth-child(1) {
    padding-bottom: 10px;
  }
}
.content.show {
  height: auto;
  max-height: 999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  // animation-delay: 1s;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectDetails {
  margin-left: 20px;
  padding: 20px;
  ul {
    text-decoration: none;
    list-style: none;

    li {
      font-weight: bold;
    }
  }
}
.Projectlogo {
  padding-bottom: 20px;
  padding-top: 20px;
}

.visitLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  a {
    font-weight: bold;
    color: blue;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
