.loader-logo {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.home-page {
  width: 100%;
  height: 10%;

  .typography-zone {
    text-align: center;
    h1 {
      padding-top: 60px;
      font-size: 53px;
      margin-bottom: 10px;
      font-weight: 400;
      font-family: "Coolvatica";
      letter-spacing: 3px;
    }
    h2 {
      display: inline-block;
      padding: 10px;

      margin-top: 50px;
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 18px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1.5s 0s backwards;
      background-color: rgba(133, 131, 129, 0.7);
      color: white;
    }
  }

  .text-zone {
    position: absolute;
    left: 10%;
    width: 80%;
    max-height: 90%;
    transform: translateY(-50%);
    margin-top: 50px;
  }

  .quote-container {
    background: rgb(133, 131, 129);
    background: linear-gradient(
      97deg,
      rgba(133, 131, 129, 1) 23%,
      rgba(52, 179, 202, 1) 79%
    );

    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    top: -20px;

    p {
      font-size: 18px;
    }
  }

  .btn-viewmore-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

    .btn-viewmore {
      padding: 5px 20px;
      border-radius: 5px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  .social-container {
    min-height: 300px;
    margin-top: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    ul {
      width: 50%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 20px;
      li {
        display: inline-block;
        a {
          color: black;
          svg {
            font-size: 40px;
            color: black;
          }
        }
      }
    }
  }
  .contact-container {
    margin-top: 50px;
    padding: 10px;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .recent-project-wrapper {
      flex-direction: row;
      gap: 10%;
      .project-image-container-one {
        width: 300px;
      }
      .card-foodme {
        width: 500px;
        margin-top: 0;
      }
      .project-image-container-two {
        width: 300px;
      }
      .card-vintagelens {
        width: 500px;
        margin-top: 0;
      }
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
}
