.contact-page {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-zone {
    // position: relative;
    // left: 10%;
    // top: 50%;
    // width: 35%;
    // vertical-align: middle;
    // display: table-cell;
    // max-height: 90%;
    // transform: translateY(-50%);

    h1 {
      font-size: 20px;
      color: white;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      // margin-bottom: 40px;
      text-align: center;
      left: 10px;
    }
    p {
      font-size: 13px;
      color: white;
      min-width: fit-content;
      font-size: 14px;
      animation: pulse 1.3s;

      &:nth-of-type(1) {
        animation-delay: 1.6s;
      }
    }
  }
}

.contact-form {
  width: 100%;
  margin-top: 20px;
  form {
    padding: 0 10px 0 10px;
    legend {
      color: white;
      padding-bottom: 10px;
      text-align: center;
      // opacity: 0;
      // animation: fadeInUp 2s 2.5s;
    }
  }
  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2.5s;
      animation-fill-mode: forwards;
      clear: both;
    }
    li.half {
      float: left;
      clear: none;
      width: 49%;
      margin-left: 2%;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: #ffeecb;
    height: 50px;
    font-style: 16px;
    color: rgb(16, 15, 15);
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #ffeecb;
    height: 50px;
    font-style: 16px;
    color: rgb(10, 10, 10);
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    margin-top: 5px;
    width: 100%;
    color: #f6f5ed;
    background: 0 0;
    font-size: 12px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1.8px solid #fffefa;
    float: right;
    border-radius: 0px;
    &:hover {
      background-color: #0067d2;
    }
  }
}
.info-map {
  // position: absolute;
  // background-color: #000;
  // top: 50px;
  // right: 0px;
  // z-index: 999;
  // width: 267px;
  // padding: 20px;
  // color: #fff;
  // font-family: "Helvetica";
  // font-size: 17px;
  // font-weight: 300;
  // opacity: 0;
  // animation: fadeIn 1.5s 1.5s;
  // animation-fill-mode: forwards;
  position: absolute;
  background-color: rgba(53, 50, 50, 0.6);
  top: 10px;
  right: 10px;
  z-index: 999;
  color: white;
  text-align: center;
  padding: 10px;

  span {
    font-size: 10px;
    display: block;
    padding-top: 20px;
    color: #ffd700;
  }
}
.map-wrap {
  // background: rgba(8, 253, 216, 0.1);
  // float: right;
  // width: 49%;
  // height: 100%;
  // overflow: hidden;
  position: relative;
  padding: 10px;
  height: 180px;
}

.leaflet-container {
  // margin-left: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 0.2s;
  animation-fill-mode: forwards;
}
